.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
}

.logo-button_container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.theme-toggle button {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: var(--primary-color);
  color: var(--button-text-color);
  transition: background-color 0.3s ease;

  &:hover {
    background-color: var(--primary-hover-color);
  }
}
