.filter-container {
    display: flex;
    flex-direction: row;
    padding: 16px;
    gap: 16px
}

@media (max-width: 480px) {
    .filter-container {
      display: flex;
      flex-direction: column;
    }
}